* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html.body {
    height: 100%;
}

body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #B19693;
    color: #fff;
    text-align: center;
}

header,
.left,
.right {
    position: absolute;
}

header {
    left: 10px;
    top: 10px;
    right: 10px;
    height: 150px;
}

header h1 {
    font-size: 40px;
    height: 60px;
    line-height: 60px;
}

header ul {
    margin: 10px auto;
}

header ul li {
    width: 120px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

.selected {
    background-color: #fff;
    color: #000;
}

.left {
    left: 10px;
    top: 170px;
    bottom: 10px;
    width: 15%;
    overflow: auto;
    border: 1px solid #fff;
}

.left ul {
    overflow: auto;
}

.left ul li {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left ul li.selected {
    color: green;
}

.right {
    top: 100px;
    right: 10px;
    bottom: 10px;
    left: 16%;
}

input[type='range'] {
    -webkit-appearance: none;
    height: 8px;
    background-color: #999;
    border-radius: 10px;
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
}

@media screen and (max-width:800px),
screen and(max-height:500px) {
    body {
        font-size: 12px;
    }
    header {
        height: 80px;
    }
    header h1 {
        font-size: 24px;
        height: 30px;
        line-height: 30px;
    }
    header .type li {
        height: 16px;
        line-height: 16px;
        width: 50px;
    }
    .left,
    .right {
        top: 100px;
    }
}
